<footer class="footer">
	<div class="d-sm-flex justify-content-center justify-content-sm-between">
		<span class="text-center text-sm-left d-block d-sm-inline-block">Copyright © Tous droits réservés
			<a href="https://www.tanotechnologie.com/" target="_blank">Tano Technologie</a>
		</span>
		<span class="float-none float-sm-right d-block mt-1 mt-sm-0 text-center">Paris Sportif Gagnant (<a href="#">PSG</a>) - Version: 1.0.0</span>
	</div>
</footer>
