{{form_start(form, {
    'attr' : {'enctype' : "multipart/form-data"}
})}}
{{form_row(form.titre)}}
<div class="form-group mt-3">
	<label for="image" class="drop-container" id="dropcontainer">
		<span class="drop-title">Déposez le fichier ici</span>
		ou
		<input type="file" name="image" id="image" required>
	</label>
</div>
{{form_end(form)}}
