<!DOCTYPE html>
<html
	lang="fr">
	<!-- Entête de page  -->
	{% include '_includes/header.html.twig' with {'title' : block('title')} %}
	<!-- Fin Entête de page  -->

	<body
		class="g-sidenav-show  bg-gray-100">
		<!-- Menu de page  -->
		{% include '_includes/menu.html.twig' %}
		<!-- Fin Menu de page  -->

		<main
			class="main-content position-relative max-height-vh-100 h-100 border-radius-lg ">
			<!-- Entête de page -->
			{% include '_includes/entete.html.twig' %}
			<!-- Fin d'entête de page -->

			<div
				class="container-fluid py-2">
                
                <!-- Contenu des pages -->
                {% block body %}
                {% endblock %}
                <!-- Fin du contenu des pages -->

				<!-- Pied de page -->
				{% include '_includes/footer.html.twig' %}
				<!-- Fin de pied de page -->
			</div>
		</main>

		<!-- Réglage de page -->
		{% include '_includes/reglage.html.twig' %}
		<!-- Fin de réglage de page -->

		<!-- Javascript principale de toutes les pages -->
		{% include 'includes/js.html.twig' %}
		<!-- Fin du Javascript principale de toutes les pages -->

			{% block javascripts %}<script src="{{ asset('js/material-dashboard.min.js?v=3.2.0') }}"> </script>
		{% endblock %}
	</body>

</html>
