#dataTable_wrapper :first-child{
    margin-bottom: 5px;
}

#bloc-loader{
    position: absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background-color: rgba(100, 100, 100, 0.5);
    z-index: 9998;
    display: none;
    justify-content: center;
    align-items: center;
}

.loader {
    position: relative;
    top:0;
    z-index: 9999;
    border: 16px solid #f3f3f3; /* Light grey */ 
    border-top: 16px solid #3498db; /*Blue*/ 
    border-bottom: 16px solid #3498db; /*Blue*/ 
    border-radius: 50%;
    width: 100px; 
    height: 100px;
    animation: spin 2s linear infinite;
    
}
    
@keyframes spin {
    0% { transform: rotate(0deg);} 100% { transform: rotate(360deg);}
}

.td-g {
    margin: 0px;
    padding: 1px 0px;
    text-align: right;
}

.td-g {
    margin: 0px;
    padding: 1px 0px;
    text-align: center;
}

.drop-container {
position: relative;
display: flex;
gap: 10px;
flex-direction: column;
justify-content: center;
align-items: center;
height: 200px;
padding: 20px;
border-radius: 10px;
border: 2px dashed #555;
color: #444;
cursor: pointer;
transition: background .2s ease-in-out, border .2s ease-in-out;
}


.drop-container:hover,
.drop-container.drag-active {
background: #eee;
border-color: #111;
}


.drop-container:hover .drop-title,
.drop-container.drag-active .drop-title {
color: #222;
}


.drop-title {
color: #444;
font-size: 20px;
font-weight: bold;
text-align: center;
transition: color .2s ease-in-out;
}


input[type=file] {
width: 350px;
max-width: 100%;
color: #444;
padding: 5px;
background: #fff;
border-radius:3px;
border: 1px solid #555;
}


input[type=file]::file-selector-button {
margin-right: 20px;
border: none;
background: #0066ff;
padding: 15px 20px;
border-radius: 3px;
color: #fff;
cursor: pointer;
transition: background .2s ease-in-out;
}


input[type=file]::file-selector-button:hover {
background: #000;
}

.img_80{
    width: 80px; 
    height: 80px;
}

.img_30{
    width: 30px;
    height:30px;
    margin-bottom: 3px;
}



.td_1{
    padding-top: 5px;
    padding-left: 10px;
    border-bottom: 1px solid rgb(211, 208, 208);
}

.td_b{
    border-left: 3px solid blue;
    padding-left: 10px;
}

.td_o{
    border-left: 3px solid orange;
    padding-left: 10px;
}

.td_r{
    border-left: 3px solid red;
    padding-left: 10px;
}

.td_v{
    border-left: 3px solid green;
    padding-left: 10px;
}

.tsm{
    font-size: 0.8em;
    text-align: center;
}

.btn_orange{
    margin: 0px;
    padding:0px;
    padding-left:20px; 
    text-decoration: none;
}

.btn_orange:hover{
    color: orange;
}

.card_o{
    border-top: 2px solid orange;
}

.t_th{
    font-size: 1.2em;
    padding: 8px;
    text-align: center;
}

.t_th2{
    font-size: 1em;
    padding: 8px;
    text-align: center;
}

.t_tr
{
    background-color: rgb(243, 209, 147);
}

.t_td{
    font-size: 1.2em;
    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 8px;
    padding-right: 8px;
    text-align: center;
}

.t_td2{
    font-size: 1em;
    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 8px;
    padding-right: 8px;
    text-align: center;
}

.t_tr_td{
    border-bottom: 1px solid gray;
}

.d_b
{
    border-top: 2px solid blue;
    background-color: lightblue;
}

.d_v
{
    border-top: 2px solid green;
    background-color: lightgreen;
}

.h_3{
    text-align: center;
     background-color: lightgray;
     margin-bottom: 10px;
     padding-top: 8px;
     padding-bottom: 8px;
}

.s_b{
    color: blue;
    font-size: 1.2em;
}

.score{
    display: inline-block;
    color: blue;
    font-size: 1.2em;
    background-color: rgb(243, 209, 147);
    padding: 5px;
    border-radius: 10px 10px;
    margin-top: 5px;
    margin-left: 5px;
    margin-right: 5px;
    font-weight: bold;
}

.h_1{
    border-bottom: 1px solid white;
    margin-bottom: 5px;
}

.hr_tb{
    width: 85%; 
    margin:0px; 
    padding:0px; 
    margin-left:20px; 
    border:2px solid orange;
}

.h_bas{
    border:1px solid green;
    box-shadow: 1px 1px 5px black;
}