#dataTable_wrapper :first-child{
    margin-bottom: 5px;
}

#bloc-loader{
    position: absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background-color: rgba(100, 100, 100, 0.5);
    z-index: 9;
    display: none;
    justify-content: center;
    align-items: center;
}

.loader {
    position: relative;
    top:0;
    z-index: 10;
    border: 16px solid #f3f3f3; /* Light grey */ 
    border-top: 16px solid #3498db; /*Blue*/ 
    border-bottom: 16px solid #3498db; /*Blue*/ 
    border-radius: 50%;
    width: 100px; 
    height: 100px;
    animation: spin 2s linear infinite;
    
}
    
@keyframes spin {
    0% { transform: rotate(0deg);} 100% { transform: rotate(360deg);}
}

.td-g {
    margin: 0px;
    padding: 1px 0px;
    text-align: right;
}

.td-g {
    margin: 0px;
    padding: 1px 0px;
    text-align: center;
}

.drop-container {
position: relative;
display: flex;
gap: 10px;
flex-direction: column;
justify-content: center;
align-items: center;
height: 200px;
padding: 20px;
border-radius: 10px;
border: 2px dashed #555;
color: #444;
cursor: pointer;
transition: background .2s ease-in-out, border .2s ease-in-out;
}


.drop-container:hover,
.drop-container.drag-active {
background: #eee;
border-color: #111;
}


.drop-container:hover .drop-title,
.drop-container.drag-active .drop-title {
color: #222;
}


.drop-title {
color: #444;
font-size: 20px;
font-weight: bold;
text-align: center;
transition: color .2s ease-in-out;
}


input[type=file] {
width: 350px;
max-width: 100%;
color: #444;
padding: 5px;
background: #fff;
border-radius:3px;
border: 1px solid #555;
}


input[type=file]::file-selector-button {
margin-right: 20px;
border: none;
background: #0066ff;
padding: 15px 20px;
border-radius: 3px;
color: #fff;
cursor: pointer;
transition: background .2s ease-in-out;
}


input[type=file]::file-selector-button:hover {
background: #000;
}

.img_80 {
    width: 80px; 
    height: 80px;
}